.newEmployee {
  width: 200px;
  margin: 10px auto;
  height: 50px;
  background: #6fff6f;
}

.addEmployeeBtn {
  padding: 10px;
  width: 100px;
  background: #6fff6f;
  margin-right: 20px;
}

.deleteEmployeeBtn {
  padding: 10px;
  width: 100px;
  background: #ff7878;
}
