.btn {
  border-radius: 10pc;
  outline: none;
  border: 1px solid;
}

.newEmployee {
  width: 200px;
  margin: 10px auto;
  height: 50px;
  background: #6fff6f;
}

.addEmployeeBtn {
  padding: 10px;
  width: 100px;
  background: #6fff6f;
  margin-right: 20px;
}

.addBtn {
  background: #8091e2;
}

.deleteEmployeeBtn {
  padding: 10px;
  width: 100px;
  background: #ff7878;
}
